*{
    margin:0;
}

#department-members-container-flex{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #ddd;
    flex-direction: column;
    transition: all .3s ease; 
}

#department-members-container-flex > #department-members-container-grid{
    width: 70%;
    height: 100%;
    margin:auto;
    background-color: #f5f5f5;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    color: white;
    /* box-shadow: 20px 20px rgba(0,0,0,.15);*/
    transition: all .3s ease; 
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(9,1fr);
    gap:10px;
    align-items:center;
    justify-items:center;
}

#department-members-list-container{
    width: 70%;
    height: 100%;
    background-color: #ddd;
}

#department-members-dialog-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.p-dialog-draggable .p-dialog-header, .p-dialog .p-dialog-content{
    color: #1D3124;
    background-color: #F6F4E8;
}

.p-button.p-button-outlined{
    color:#1D3124;
    background-color: #BACEC1;
}

.p-button.p-button-outlined:enabled:hover{
    background-color:#1D3124;
    color: #BACEC1;
}

.p-dialog .p-dialog-footer{
    background-color: #F6F4E8;
}

.p-dialog .p-dialog-footer button{
    color:#1D3124;
    background-color: #BACEC1;
}

.p-dialog .p-dialog-footer button:enabled:hover{
    background-color:#1D3124;
    color: #BACEC1;
}

#log-dialog{
    width: 80%;
}

#access-dialog-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

#btn-send-role{
    color:#1D3124;
    background-color: #BACEC1;
    border-color: #1D3124;

}

.p-dropdown:not(.p-disabled):hover{
    box-shadow: 0 0 0 0.2rem #BACEC1;
}

#btn-send-role:enabled:hover{
    background-color:#1D3124;
    color: #BACEC1;
}