*{
    margin:0;
}

#create-department-container-flex{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
}

#create-department-container-flex > #create-department-container-grid{
    width: 70%;
    height: 100%;
    margin:auto;
    background-color: #F6F4E8;
    transition: all .3s ease;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: repeat(5,1fr);
    gap:15px;
    align-items:center;
    justify-items:center;
}

#create-department-header{
    color:#1D3124;
    grid-row:2/3;
    grid-column: 2/3;
    align-self: end;
}

#create-department-input{
    color:grey;
    grid-row:3/4;
    grid-column: 2/3;
    align-self: start;
}

#btn-create-department{
    color:#1D3124;
    background-color: #BACEC1;
    border-color:#1D3124;
    grid-row:4/5;
    grid-column: 2/3;
    align-self: start;
}

#btn-create-department:hover{
    background-color:#1D3124;
    color: #BACEC1;
}

#admin-menu{
    width: 70%;
}